In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
from google.colab import files
uploaded = files.upload()

Saving dummy_data.csv to dummy_data.csv

In [3]:
#uploaded

In [4]:
import io
df = pd.read_csv(io.BytesIO(uploaded['dummy_data.csv']))

In [6]:
df.head()

                                   Job_Title  ... Company_Revenue_More than $10B (USD)
0                             Data Scientist  ...                                    1
1                             Data Scientist  ...                                    0
2                             Data Scientist  ...                                    0
3  Graduate Studies Program - Data Scientist  ...                                    0
4                           Data Scientist I  ...                                    0

[5 rows x 928 columns]

In [7]:
# Pre-Processing

In [8]:
labels=["Job_Type","Job_Title","Company"]
X = df.drop(labels=labels, axis=1)
y = df["Job_Type"]
print(X.shape, y.shape)

(5715, 925) (5715,)

In [9]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from tensorflow.keras.utils import to_categorical

In [10]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, random_state=1)

In [11]:
print(X_train.shape,X_test.shape,y_train.shape,y_test.shape)

(4286, 925) (1429, 925) (4286,) (1429,)

In [12]:
X_scaler = MinMaxScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [13]:
# Label-Encode the dataset

In [14]:
label_encoder = LabelEncoder()
label_encoder.fit(y_train)
encoded_y_train = label_encoder.transform(y_train)
encoded_y_test = label_encoder.transform(y_test)

In [15]:
# Define X and y Features

In [16]:
X_features = X_train_scaled.shape[1]
X_features

925

In [17]:
y_train_categorical = to_categorical(encoded_y_train)
y_test_categorical = to_categorical(encoded_y_test)

In [18]:
y_features = y_train_categorical.shape[1]
y_features

3

In [19]:
# Create model and add layers

In [20]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [21]:
model = Sequential()
model.add(Dense(units=10, activation='relu', input_dim=X_features))
model.add(Dense(units=10, activation='relu'))
model.add(Dense(units=y_features, activation='softmax'))

In [22]:
# Compile and fit the model

In [23]:
model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

In [24]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 10)                9260
_________________________________________________________________
dense_1 (Dense)              (None, 10)                110
_________________________________________________________________
dense_2 (Dense)              (None, 3)                 33
=================================================================
Total params: 9,403
Trainable params: 9,403
Non-trainable params: 0
_________________________________________________________________

In [25]:
model.fit(
    X_train_scaled,
    y_train_categorical,
    epochs=20,
    shuffle=True
)

Epoch 1/20
134/134 [==============================] - 0s 1ms/step - loss: 0.9538 - accuracy: 0.5343
Epoch 2/20
134/134 [==============================] - 0s 1ms/step - loss: 0.6043 - accuracy: 0.7928
Epoch 3/20
134/134 [==============================] - 0s 1ms/step - loss: 0.4468 - accuracy: 0.8327
Epoch 4/20
134/134 [==============================] - 0s 1ms/step - loss: 0.3782 - accuracy: 0.8560
Epoch 5/20
134/134 [==============================] - 0s 1ms/step - loss: 0.3375 - accuracy: 0.8745
Epoch 6/20
134/134 [==============================] - 0s 1ms/step - loss: 0.3079 - accuracy: 0.8843
Epoch 7/20
134/134 [==============================] - 0s 1ms/step - loss: 0.2852 - accuracy: 0.8962
Epoch 8/20
134/134 [==============================] - 0s 1ms/step - loss: 0.2673 - accuracy: 0.8976
Epoch 9/20
134/134 [==============================] - 0s 1ms/step - loss: 0.2511 - accuracy: 0.9046
Epoch 10/20
134/134 [==============================] - 0s 1ms/step - loss: 0.2394 - accuracy: 0.9085
Epoch 11/20
134/134 [==============================] - 0s 1ms/step - loss: 0.2299 - accuracy: 0.9113
Epoch 12/20
134/134 [==============================] - 0s 1ms/step - loss: 0.2202 - accuracy: 0.9162
Epoch 13/20
134/134 [==============================] - 0s 1ms/step - loss: 0.2112 - accuracy: 0.9197
Epoch 14/20
134/134 [==============================] - 0s 1ms/step - loss: 0.2049 - accuracy: 0.9246
Epoch 15/20
134/134 [==============================] - 0s 1ms/step - loss: 0.2014 - accuracy: 0.9230
Epoch 16/20
134/134 [==============================] - 0s 1ms/step - loss: 0.1930 - accuracy: 0.9279
Epoch 17/20
134/134 [==============================] - 0s 1ms/step - loss: 0.1881 - accuracy: 0.9293
Epoch 18/20
134/134 [==============================] - 0s 1ms/step - loss: 0.1850 - accuracy: 0.9342
Epoch 19/20
134/134 [==============================] - 0s 1ms/step - loss: 0.1805 - accuracy: 0.9323
Epoch 20/20
134/134 [==============================] - 0s 1ms/step - loss: 0.1752 - accuracy: 0.9370

In [26]:
model_loss, model_accuracy = model.evaluate(X_test_scaled, y_test_categorical, verbose=2)

45/45 - 0s - loss: 0.3214 - accuracy: 0.8929

In [27]:
# Quantify our Trained Model

In [28]:
model_loss, model_accuracy = model.evaluate(
    X_test_scaled, y_test_categorical, verbose=2)
print(
    f"Normal Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

45/45 - 0s - loss: 0.3214 - accuracy: 0.8929
Normal Neural Network - Loss: 0.32138586044311523, Accuracy: 0.892932116985321

In [29]:
# Make Predictions

In [30]:
predictions = model.predict_classes(X_test_scaled)

WARNING:tensorflow:From <ipython-input-30-ee5c72d9dd6d>:1: Sequential.predict_classes (from tensorflow.python.keras.engine.sequential) is deprecated and will be removed after 2021-01-01.
Instructions for updating:
Please use instead:* `np.argmax(model.predict(x), axis=-1)`,   if your model does multi-class classification   (e.g. if it uses a `softmax` last-layer activation).* `(model.predict(x) > 0.5).astype("int32")`,   if your model does binary classification   (e.g. if it uses a `sigmoid` last-layer activation).

In [32]:
predictions

array([2, 0, 2, ..., 1, 1, 2])

In [33]:
y_test_categorical

array([[0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       ...,
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.]], dtype=float32)

In [34]:
true_labels = label_encoder.inverse_transform(predictions)

In [35]:
true_labels

array(['data_scientist', 'data_analyst', 'data_scientist', ...,
       'data_engineer', 'data_engineer', 'data_scientist'], dtype=object)

In [36]:
print(f"Predicted classes: {true_labels[:5]}")
print(f"Actual Labels: {list(y_test[:5])}")

Predicted classes: ['data_scientist' 'data_analyst' 'data_scientist' 'data_scientist'
 'data_engineer']
Actual Labels: ['data_scientist', 'data_analyst', 'data_scientist', 'data_analyst', 'data_engineer']

In [37]:
X_test

      r_0  ...  Company_Revenue_More than $10B (USD)
1300    0  ...                                     1
2856    0  ...                                     0
554     0  ...                                     0
3954    0  ...                                     0
5519    1  ...                                     0
...   ...  ...                                   ...
273     0  ...                                     0
1851    0  ...                                     0
5242    1  ...                                     1
4366    1  ...                                     0
2274    1  ...                                     1

[1429 rows x 925 columns]

In [38]:
pd.DataFrame({'actual':y_test,'predicted_labels':true_labels,'predicted_class':predictions })

              actual predicted_labels  predicted_class
1300  data_scientist   data_scientist                2
2856    data_analyst     data_analyst                0
554   data_scientist   data_scientist                2
3954    data_analyst   data_scientist                2
5519   data_engineer    data_engineer                1
...              ...              ...              ...
273   data_scientist   data_scientist                2
1851  data_scientist   data_scientist                2
5242   data_engineer    data_engineer                1
4366   data_engineer    data_engineer                1
2274  data_scientist   data_scientist                2

[1429 rows x 3 columns]